.gradle/
.idea/
.project
.settings/org.eclipse.m2e.core.prefs
bin/
build/
release.properties
**/*.iml
**/hs_err_pid*.log
**/pom.xml.*
**/rebel.xml
target/
node_modules/
Würde ParseException.java löschen
Würde Reader.java löschen
Würde ReaderConstants.java löschen
Würde ReaderTokenManager.java löschen
Würde SimpleCharStream.java löschen
Würde Token.java löschen
Würde TokenMgrError.java löschen
