/* You can add global styles to this file, and also import other style files */
.card.accordionGroupPanel,
.card.accordionGroupPanel .card-header,
.panel.accordionGroupPanel,
.card-title {
  font-size: x-small;
  padding-bottom: 0;
  padding-top: 0;
  user-select: none;
  scroll-padding-top: 1px;
  margin-bottom: 0 !important;
  color: white;
}

.card-header {
  background-color: rgba(115,115,115,0.5);
}

.card {
  background-color: rgba(255,255,255,0.1);
}

.panel.accordionGroupPanel .panel-body {
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.jtk-overlay {
  user-select: none;
  cursor: default;
}

.jtk-drag-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }

table tr{

}

.td-key {
  text-align: left !important;
  padding-left: 10px !important;
}

.td-value {
  text-align: right !important;
  padding-right: 10px !important;
}

.header-table td{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0 !important;
  width: auto !important;
  font-size: x-small;
}

.card-block {
  padding-bottom: 0 !important;
}

.collapse.show {
  display: inline-flex !important;
  min-height: 0 !important;
}

.body-table td{
  padding: 0px !important;
  margin: 0 !important;
  width: auto !important;
  font-size: x-small;
  color: black;
}

.table {
  margin-bottom: 0 !important;
}

.card-block {
  padding-top: 0;
  padding-bottom: 0;
}

.table-active, .table-active>td, .table-active>th {
  background-color: rgba(0,0,0,.075);
}

.table-border--grey td, .table-border--grey th {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.col-sm-9 {
  padding-left: 1px;
  padding-right: 2px;
}

.col-sm-3 {
  padding-left: 3px;
  padding-right: 3px;
}
