.sidebar-root{
  border: 1px solid #268de7;
  border-radius:0.25rem;
  top: 48px;
  z-index: 999;
<<<<<<< HEAD
  position: absolute;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.75);
=======
  position: fixed;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.75);
  background-color: white;
>>>>>>> topologymodeler
}
