<div id="container" style="height: auto;"
     (mousedown)="showSelectionRange($event)">
  <div id="grid"
       (mousedown)="trackTimeOfMouseDown($event)"
       (mouseup)="trackTimeOfMouseUp($event)"
       [class.crosshair]="this.crosshair"
       [style.width.vw]="gridWidth"
       [style.height.vh]="gridWidth">
    <div class="selection" id="selection"
         [class.selection-active]="selectionActive"
         [style.left.px]="pageX"
         [style.top.px]="pageY"
         [style.width.px]="selectionWidth"
         [style.height.px]="selectionHeight">
      <span></span>
    </div>
  </div>

  <winery-node *ngFor="let node of allNodeTemplates"
               [title]="node.id"
               [name]="node.name"
               [needsToBeFlashed]="needsToBeFlashed"
               [nodeColor]="node.color"
               (sendId)="makeDraggable($event)"
               [otherAttributes]="node.otherAttributes"
               [nodeImageUrl]="node.imageUrl"
               [navbarButtonsState]="navbarButtonsState"
               (askForRepaint)="repaintJsPlumb($event)"
               (setDragSource)="setDragSource($event)"
               (closedEndpoint)="closedEndpoint($event)"
               [dragSource]="node.id + 'Endpoint'"
               (checkFocusNode)="checkFocusNode($event)"
               (updateAllNodes)="updateAllNodes($event)">
  </winery-node>
</div>
